*{
	box-sizing: border-box;
}

.wrapper{
	width: 60%;
	margin-left: 0;
}

h1{
	float: right;
	padding: 10px;
	line-height: 40px;
	margin: 0 auto;
}

.imagepic{
	width: 100%;
	margin-left: 100px;
}




/* responsive layout CSS */
@media (max-width: 1350px){ 

	.wrapper,h1,.imagepic{
		width: 100%;
		margin-left: 0;
	}
}