*{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  max-width: 100%;
}

body{
  margin:0;
  padding:0;
  line-height: 1.5em;
  background: radial-gradient(circle, #bae1ff, #ffb3ba,#bae1ff,#bae1ff);
}

em{color: red;}


#topsection{
  background: radial-gradient(circle, #bae1ff, #ffb3ba,#bae1ff,#bae1ff);
  height: 90px; /*Height of top section*/
}

#topsection h1,h2{
  margin: 0;
  padding-top: 15px;
}

#contentwrapper{
  float: left;
  width: 100%;
}

#contentcolumn{
  margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
  float: left;
  width: 200px; /*Width of left column*/
  height: 800px;
  margin-left: -100%;
  background-color: rgba(85,136,255,0.4);
}

#leftcolumn_donate{
  float: left;
  width: 200px; /*Width of left column*/
  height: 1400px;
  margin-left: -100%;
  background-color: rgba(85,136,255,0.4);
}


#footer{
  clear: left;
  width: 100%;
  background: black;
  color: #FFF;
  text-align: center;
  padding: 4px 0;
}

#footer a{
  color: #FFFF80;
}

.innertube{
  margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top: 0;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 5px;
  margin: 5px;
} 

#menu_top{
  display: none;
}

.imagepic{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.details img {
  width:65%;
  height: auto;
  display: block;
  margin-right: auto;
  padding: 5px;
  border-radius: 20px;
}

p {
  display: inline-block;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0.625em 0;
  text-align: justify;
}
p:first-letter {
  font-size: 3.5em;
  line-height: 1em;
}
p + p:first-letter {
  font-size: 1em;
  line-height: 1.25em;
}

/* Donate box */
.card {

  text-align: center;
  display: inline-block;
  width: 35%;
  box-shadow: 1px 1px 10px rgba(85,136,255,0.4);
  border-top: 30px solid rgba(85,136,255,0.4);
  border-bottom: 30px rgba(85,136,255,0.4);
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  /*Do we want this???*/
/*  padding: 0;
  /*Do we want this???*/
  background-color: white;
  transition: 0.3s;
}

.stepTitle {
  position: relative;
  background-color: #e6edff;
  border: 0;
  width: 100%;
  font-weight: bold;
}

button, input{
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #ffe6ff;
  border: 1px solid #ffb3ff;
  border-radius: 3px;
  min-width: 120px;
  max-width: 120px;
}


.inputminimal {
  min-width: 20px;
  max-width: 20px;
}

button:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

#step2, #step3, #step4, #s3next, #error {
  display: none; 
}

#error {
  color: #FF0000;
  font-weight: bold;
}

.payImage {
  width: 100px;
}


#lastname {
  min-width: 200px;
  max-width: 200px;
}

#street {
  min-width: 270px;
  max-width: 270px;
}

#housenumber {
  min-width: 50px;
  max-width: 50px;
}

#city {
  min-width: 220px;
  max-width: 220px;
}

#zipcode {
  min-width: 100px;
  max-width: 100px;
}

#mail {
  min-width: 200px;
  max-width: 200px;
}

#phone {
  min-width: 120px;
  max-width: 120px;
}
/* Donate box */


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a:link {
  color:white; 
  text-decoration:none;
}


a:hover {
  color: cyan; 
  text-decoration:none;
}

a:active {
  color:black; 
  text-decoration:none;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 1024px){ /* responsive layout break point */

  #contentwrapper,p{
    float: none;
  }
  
  #leftcolumn,#leftcolumn_donate{
    width: 100%;
    height: auto;
    margin-left: 0;
    background-color: rgba(85,136,255,0.4);
  }
  
  #contentcolumn{
    margin-left: 0;
  }
  .card{
    width: 80%;
    text-align: center;
  }
  .details img {
    width: 90%;
  }
#menu_bottom{
  display: none;
}

#menu_top{
  display: block;
  font-size: 24px;
  padding-top: 10px;
}
h3{
  padding: 0;
  margin: 0;
}

h2{
  display: none;
}

.details h1{
  display: none;
}

}

